.top-section {
  width: 100%;
  height: 80vh; /* or 100vh for full screen */
  background-image: url('../assets/top_b.png'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

.middle-section {

  padding: 2rem;
  padding-bottom: 14rem;
  background-color: #FCA311; /* Light background for contrast */
  margin-top: 5rem;
  margin-bottom: 5rem;
  

}

.middle-text {

  color: #000000;
  margin-bottom: 0.5rem;
  text-align: left;
}

.middle-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.airplane-decoration {
  width: 15vw; /* Responsive scaling */
  max-width: 180px; 
  min-width: 80px;
  height: auto;
  object-fit: contain;
}

.middle-text.top {
  font-weight: bold;
}

.middle-text.bottom {
  font-weight: normal;
}