.modify-search {
  background-color: #ffb703;
  padding: 2rem 1rem;
}

/* Tablet */
@media (max-width: 900px) {
  .modify-search {
    padding: 1.5rem 0.5rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .modify-search {
    padding: 1rem 0.25rem;
  }
} 