
.location-paper {
  background-color: #e5efe3 !important;
  margin-top: 1rem
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e5efe3;
  top: -8px;
  left: 20px;
}

.location-button {
  background-color: white !important;
  color: black !important;
  border: 2px solid #1a237e !important;
  gap: 0.5rem !important;
}

/* todo: check if it works correctly */
.departure-button:active,
.departure-button:focus {
  border-color: #0d1b5e !important;
  box-shadow: 0 0 0 3px rgba(26, 35, 126, 0.3) !important;
}